 <section class="main">
  <br>
  <div class="row">
    <div class="small-12 columns">
      <h2>Sortable Comparison of Pacific Countries</h2>
      <p>The following table contains a sample of economic and social indicators from the countries of the pacific. Click on the heading of a column to order the countries by that statistic.</p>
    </div>
    <div class="small-10 small-centered columns comparison">
      {{sf-table table=myTableModel filterable=false}}
    </div>
  </div>
  <br><br>
 </section>

{{yield}}
