 <section class="main">
  <br>
  <div class="row">
    <div class="small-12 columns">
      <h2>Quick Comparison of Pacific Countries</h2>
      <br>
    </div>
    <div class="small-10 small-centered columns comparison">
      {{sf-table table=myTableModel filterable=false}}
    </div>
  </div>
  <br>
 </section>

{{yield}}
