<div class="row">
  <div class="small-12 columns gallery">
    <h3>Photo Gallery</h3>
    <p>Note: This is a selection of photos uploaded by others to <a href="http://www.flickr.com" target="_blank">Flickr</a>, using '{{country.name}}' as a search term. Results may vary.</p>
  </div>
</div>

{{yield}}
