<section class="hero source">
  <br><br>
  <div class="title-container inner-border"><h1>SOURCES</h1></div>
</section>
<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">Created by Andrew Reid</p>
      <p class="links">
        <a href="https://github.com/sareid" target="_blank">{{fa-icon "github"}}</a>
        <a href="https://ca.linkedin.com/in/sandrewreid" target="_blank">{{fa-icon "linkedin"}}</a>
        <a href="mailto:s.andrew.reid@gmail.com">{{fa-icon "envelope"}}</a>
        <a href="pdf/Andrew_Reid_CV.pdf" download>CV</a>
      </p>
    </div>
  </div>
</footer>
