<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">Created by Andrew Reid</p>
      <p class="links">
        <a href="https://github.com/sareid" target="_blank">{{fa-icon "github"}}</a>
        <a href="https://ca.linkedin.com/in/sandrewreid" target="_blank">{{fa-icon "linkedin"}}</a>
        <a href="mailto:s.andrew.reid@gmail.com">{{fa-icon "envelope"}}</a>
        <a href="">CV</a>
      </p>
    </div>
  </div>
</footer>
