<div class="contain-to-grid sticky header">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <section class="top-bar-section">
      <ul>
        <li>
          {{#link-to 'index'}}
            {{fa-icon "home" size="lg"}}
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'overview'}}Overview{{/link-to}}
        </li>
        <li class="has-dropdown">
          {{#link-to 'countries'}}Countries{{/link-to}}
          <ul class="dropdown">
            {{#each country as |country|}}
              <li>
                {{#link-to 'countries.country' country}}
                  {{country.name}}
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>
{{yield}}
