{{navbar-top country=model}}
<section class="hero heading">
  <br>
  <div class="title-container inner-border"><h1>COUNTRIES <span class="kern">of the</span> PACIFIC</h1></div>
</section>
{{country-grid model=model}}
{{outlet}}
{{sticky-footer}}