{{navbar-top model=model}}
<section class="hero">
  <br><br><br><br>
  <div class="title-container inner-border"><h1>FACTBOOK <span class="kern">of the<br></span><span class="title-strong">PACIFIC</span></h1></div>
  <br>
  <div class="front-buttons">
    <ul class="button-group radius">
      <li>{{#link-to 'overview' class="button"}}Quick Overview{{/link-to}}</li>
      <li>{{#link-to 'countries.index' class="button"}}Browse all Countries{{/link-to}}</li>
    </ul>
  </div>

</section>
<section class="quote">
  <div class="row">
    <div class="small-10 small-centered columns">
      <h5><span class="quotes">"</span>It is important to remember that the Pacific Ocean covers a quarter of the world's surface and that each Pacific country has its own cultural, historical and ethnic identity."</h5>
    </div>
    <div class="small-10 small-centered columns">
      <h5 class="quoted">-Jenny Shipley</h5>
    </div>
  </div>

</section>
<section class="main">
  <br>
  <div class="row">
    <br>
    <div class="small-10 small-centered columns">
      <p>The Pacfic Ocean is a vast track of water covering almost a third of the Earth's surface. This expanse of blue is home to millions of people across thousands of islands. Collectively, they represent some of the smallest and least well-known countries on earth. And while international awareness of these countries is limited, they stand amongst the world's most vulnerable countries to the impacts of global climate change, with many facing threats to their very existence from sea level rise, ocean acidification, and increasing salinity in their freshwater supplies.</p>
      <p>This factbook aims to provide some insights on the twelve small, independent countries of the Pacfic, including economic and social indicators.</p>
    </div>
    <br>
  </div>
</section>
{{outlet}}

{{sticky-footer}}