<div class="loading-pane">
  <br><br><br>
  <div class="row">
    <div class="small-10 medium-6 small-centered columns">
      <div class="loading-text">
        <div class="spinner"></div>
        <p>Loading content.</p>
        <p>If no one has accessed the page in the past hour, this will take a moment as the server wakes up. Sorry.</p>
      </div>
    </div>
  </div>
</div>