<div class="loading-pane">
  <div class="loading-text inner-border">
    <h1>FACTBOOK <span class="kern">of the</span> PACIFIC</h1>
    <div class="spinner"></div>
    <p>Loading content.</p>
    <p>If no one has accessed the page in the past hour, this will take a moment as the server wakes up. Sorry.</p>
  </div>
</div>